body{
  background-image: url(../images/background.png);
}

#Title{
  background-color: white;
  height: 50px;
  width: 275px;
  color: purple;
}

.container{
  width: 500px;
  height: 500px;
  margin-left: 5%;
}

p{
  background-color: white;
  color: blue;
  width: 400px;
  padding: 10px;
  line-height: 130%;
}

#target-number{
width: 250px;
height: 85px;
background-color: white;
color: blue;
}

.games{
  width: 150px;
  height: 80px;
  top: -105px;
  left: 275px;
  position: relative;
  background-color: white;
  color: blue;
  line-height: 0%;
  padding: 5px;
}

.crystals{
  top: -80px;
  width: 100px;
  height: 100px;
  position: relative;
}

#total{
  background-color: white;
  width: 200px;
  position: relative;
  top: -80px;
  color: blue;
}

#score{
  width: 80px;
  height: 80px;
  background-color: white;
  position: relative;
  top: -80px;
  color: blue;
}